/* Reset de estilos básicos */
*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Configuración general del cuerpo */
body {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
  background-image: url(fondo.gif);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilos del título */
h1 {
  font-size: 60px;
  color: yellow;
  text-align: center;
  margin-top: 20px;
  animation: mover 2s infinite alternate;
}

@keyframes mover {
  0% {
      transform: translateY(-10px);
  }
  100% {
      transform: translateY(10px);
  }
}

/* Contenedor principal y manejo de las imágenes */
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 900px;
  margin-bottom: 40px;
}

.container .img {
  flex: 1 1 150px;
  max-width: 150px;
  height: auto;
  animation: movimiento 2s ease infinite;
}

@media (max-width: 768px) {
  h1 {
      font-size: 40px;
  }

  .container {
      justify-content: center;
      margin-bottom: 30px;
  }

  .container .img {
      max-width: 100px;
  }
}

@media (max-width: 480px) {
  h1 {
      font-size: 30px;
  }

  .container .img {
      max-width: 80px;
  }
}

@keyframes movimiento {
  0% { transform: translateY(-5px); }
  50% { transform: translateY(5px); }
  100% { transform: translateY(-5px); }
}

/* Sección de botones con fondo semitransparente */
.botones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;  /* Espacio entre botones */
  width: 100%;
  max-width: 900px;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  padding: 20px;
  border-radius: 15px;
}

.item {
  flex: 1 1 150px;  /* Ajuste del tamaño de los botones */
  text-align: center;
  margin: 5px;  /* Reducir margen entre los botones */
}

.button {
  padding: 0;
  background-color: transparent;
  border: none;
}

.button img {
  width: 100%;  /* Ajustar la imagen para que ocupe todo el botón */
  height: auto;
  display: block;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .botones {
      gap: 8px;  /* Espacio reducido entre botones */
      padding: 15px;  /* Reducir el padding de la sección en pantallas medianas */
  }

  .button img {
      max-width: 100px;
  }
}

@media (max-width: 480px) {
  .botones {
      gap: 5px;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      padding: 10px;
  }

  .item {
      flex: 1 1 calc(50% - 10px); /* Dos botones por fila */
      max-width: calc(50% - 10px); /* Asegura que dos botones ocupen una fila completa */
      display: flex;
      justify-content: center;
  }

  .button img {
      max-width: 80px;
  }
}
